
#accueil_card{
    width: max(20vw,300px);
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top:  12vh;
    transition: transform 1s; 
    transform-style: preserve-3d; 
    transform-origin: center right;
    
}
#front,#back_form{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    border:solid black 1px;
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
#front{
    transform: rotateY(0deg); 
    background-color: rgb(88, 192, 240);
    display: flex;     
}
#btn_retour{
    width: 40px;
    font-size: 2em;
    border-radius: 20px;
    border-width: 0;
    transition: 0.8s;
}
#btn_retour:hover{
    scale: 1.2;
    transform: 0.8s;
}
form {
    display: flex;
    align-items: center;
    width: 70%;
    height: 70%;
    flex-direction: column;
    background-color: blue;
    justify-content: space-around;
    
}
form input{
    width: 80%;
    height: 15%;
    border-radius: 15px;
    font-size: 1.5em;
    text-align: center;
}

form button{
    width: 60%;
    height: 15%;
    border-radius: 15px;
    transition: 0.8s;
}
form button:hover{
    scale:1.1;
    transition: 0.8s;
}
#btn_join_room, #btn_create_room{
    width: 80%;
    height: 12%;
    margin-top: 7%;
    border-radius: 15px;
    transition: 0.7s;
}
#btn_join_room:hover, #btn_create_room:hover{
    scale: 1.1;
    transition: 0.5s;
}
#back_form{
    transform: rotateY(180deg);
    background-color: red; 
}
.flipped{
    transform: translateX(-100%) rotateY(-180deg);

}
#accueil_img{
    width: 40%;
}
