#game_board_container {
    perspective: 1000px;
    position: relative;
}
#game_board {
    width: max(55vw, 900px);
    height: max(48vw, 850px);
    color:aliceblue;
    background-color: #74112f;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0deg);
    transform-style: preserve-3d;
    font-size: xx-small;
    display: grid;
    grid-template-columns: 2fr repeat(9, 1fr) 2fr ;
    grid-template-rows: 2fr repeat(9, 1fr) 2fr ;
}
.case{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
}
.empty_case {
}
.pawn_in_game{
    width: 30px;
    height: 30px;
}
.pawn_space{
    width: 100%;
    height: min(40%,100px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#result{
    background-color: red;
    
}
#BtnJouer{
    position: absolute;
    width: 38%;
    height: 20%;
    grid-column: 5;
    grid-row: 8;
    background-color: blue;
    font-size: 2em;
    border-radius: 12px;
    transition: 0.5s;
}
#BtnJouer:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.pawnOnCase{
    animation:pulse 0.4s;
}



#descriptionCase{
    position: absolute; 
    margin-top: -120vh;
    left: 50%; 
    transform: translate(-50%);
    background-color: rgb(236, 225, 225);
    width: 30vw;
    height: 60vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}
#descriptionCaseHeader{
    height: 15%;
    width: 100%;
    background-color: blue;
    border-radius: 12px;
}
#descriptionCase h1{
    text-align: center;
}
#description{
    width: 80%;
    height: 65%;
    background-color: yellow;
    text-align: center;
    border-radius:12px;
}
#descriptionCase h1{
    pad: 10%;
}
#choix{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-around;
}
#choix button{
    padding: 2%;
    border-radius: 12px;
    font-size: 2em;
    transition: 0.5s;

}
#choix button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#acheterBtn{
    background-color: rgb(66, 231, 88);
}
#JePasseBtn{
    background-color: rgb(243, 54, 54);
}
@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes descente {
    0%{
        margin-top: -120vh;
    }
    80%{
        margin-top: 25vh;
    }
    100%{
        margin-top: 20vh;
    }
}
@keyframes remonter {
    0%{
        margin-top: 20vh;
    }
    100%{
        margin-top: -120vh;
    }
}
